[Desktop Entry]
Type=Application
Name=Installatore Apk
Name[en]=Installatore Apk
Comment=Installa file APK su dispositivi Android via ADB
Comment[en]=Install APK files on Android devices via ADB
Exec=/usr/bin/installatore-apk %f
TryExec=/usr/bin/installatore-apk
Icon=installatore-apk
Terminal=false
StartupWMClass=com.simonecompany.installatoreapk
Categories=Utility;System;
MimeType=application/vnd.android.package-archive;
Keywords=apk;android;adb;installer;
